###### Comprehensions
- In python we use comprehensions for simplifying the code and reduce the lines of code
- List comprehensions-[]
- Dictionary comprehensions-{}
- Set comprehensions-set()

In [4]:
# print 1 to 10 numbers in the list
l=[]
lb= int(input())
ub=int(input())
for i in range(lb,ub+1):
    l.append(i)
print(l)

1
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
# print even numbers from a given list in list format
l=[1,2,3,4,5,6,7,8]
res=[]
for i in l:
    if i%2==0:
        res.append(i)
print(res)

[2, 4, 6, 8]

In [8]:
l=[1,2,3,4,5,6,7,8]
[i for i in l if i%2==0]

[2, 4, 6, 8]

In [9]:
# print the even no in the list, but in place of odd numbers replace the odd value with "odd"
# l=[1,2,3,4,5]
#l=['odd',2,'odd',4,'odd']
l=[1,2,3,4,5,6,7]
res=[]
for i in l:
    if i%2==0:
        res.append(i)
    else:
        res.append("odd")
print(res)

['odd', 2, 'odd', 4, 'odd', 6, 'odd']

In [14]:
#if we use both if and else conditions then if else conditions should be defined first and later we need to define for
l=[1,2,3,4,5,6,7]
a=[i if i%2==0 else 'odd' for i in l]
print(a)

['odd', 2, 'odd', 4, 'odd', 6, 'odd']

In [20]:
# task
a=['python programming','viksha tech solutions']
#final_list=['python', 'programming','viksha','tech','solutions']
# seperate each word with comma and print the output in the list
final_list=[]
for i in a:
    res=i.split()
    final_list.extend(res)
print(final_list)

['python', 'programming', 'viksha', 'tech', 'solutions']

In [22]:
final_list=[]
for i in a:
    res=i.split()
    for j in res:
        final_list.append(j)
print(final_list)

['python', 'programming', 'viksha', 'tech', 'solutions']

In [23]:
[j for i in a for j in i.split()]

['python', 'programming', 'viksha', 'tech', 'solutions']

In [26]:
##### Dictionary comprehensions
state=["Telangana", 'Andhra_Pradesh','Tamil_Nadu']
capital=["Hyderabad","Amaravathi","Chennai"]
d={}
# zip(state,capital)
# d[key]=value

dict_items([])

In [27]:
zip(state,capital)

In [28]:
for i in zip(state,capital):
    print(i)

('Telangana', 'Hyderabad')
('Andhra_Pradesh', 'Amaravathi')
('Tamil_Nadu', 'Chennai')

In [29]:
for i in zip(state,capital):
    d[i[0]]=i[1]
print(d)

{'Telangana': 'Hyderabad', 'Andhra_Pradesh': 'Amaravathi', 'Tamil_Nadu': 'Chennai'}

In [31]:
for i,j in zip(state,capital):
    print(i)

Telangana
Andhra_Pradesh
Tamil_Nadu

In [32]:
for key,value in zip(state,capital):
    d[key]=value
print(d)

{'Telangana': 'Hyderabad', 'Andhra_Pradesh': 'Amaravathi', 'Tamil_Nadu': 'Chennai'}

In [33]:
{key:value for key,value in zip(state,capital)}

{'Telangana': 'Hyderabad',
 'Andhra_Pradesh': 'Amaravathi',
 'Tamil_Nadu': 'Chennai'}

In [34]:
# l=[1,2,3,4]
#{1:1,2:4,3:9,4:16}
{i:i**2 for i in l}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

###### Set Comprehensions
- It is similar to list comprehension, main diff is set accepts only unique data

In [36]:
# print odd number in a set
l=[1,2,3,3,4,5,6,7,8]
s=set()
for i in l:
    if i%2!=0:
        s.add(i)
    
print(s)

{1, 3, 5, 7}

In [38]:
{i for i in l if i%2!=0}

{1, 3, 5, 7}