##### map(), filter(), reduce()

In [5]:
#map()
#syntax: map(function, *iterables)

In [8]:
def mul(a):
    return a*a
map(mul, [1,2,3,4,5,6,7,8,9])

In [9]:
x=map(mul, [1,2,3,4,5,6,7,8,9])
print(list(x))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
names=['jagadeesh','naveen','vignesh','swathi','sandhya']
a=map(str.upper,names)

In [12]:
tuple(a)

('JAGADEESH', 'NAVEEN', 'VIGNESH', 'SWATHI', 'SANDHYA')

In [19]:
#### map with lambda
x=map(lambda x:x*x, [1,2,3,4,5,6,7,8,9])

In [20]:
print(list(x))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### filter
- filter(function, *iterables)

In [24]:
l=[1,2,3,4,5,6,7,8,9]

x=map(lambda x:x%2==0, l)

In [26]:
print(list(x))

[False, True, False, True, False, True, False, True, False]

In [29]:
list(filter(lambda x:x%2==0,l))

[2, 4, 6, 8]

In [30]:
# write a program to filter the numbers which are less than 50 and print them in a list
l=[1,45,67,34,56,78,89]

In [31]:

x=filter(lambda x:x<50,l)
print(list(x))

[1, 45, 34]

In [32]:
x= map(lambda x:x<50,l)
print(tuple(x))

(True, True, False, True, False, False, False)

In [38]:
#  read the input from the user and filterthe values which are divisible by 4
# i/p 2,3,4,5,6,7,8,8,10,16 
# o/p (4,8,16)
n= input()
type(n)

2,3,4,5,9,8,10

str

In [39]:
n.split()

['2,3,4,5,9,8,10']

In [41]:
l=n.split(',')
print(l)

['2', '3', '4', '5', '9', '8', '10']

In [42]:
list(map(int,l))

[2, 3, 4, 5, 9, 8, 10]

In [46]:
x=list(map(int, input().split(',')))
print(x)
a=tuple(filter(lambda x:x%4==0, x))
print(a)

2,3,4,5,8,10,12
[2, 3, 4, 5, 8, 10, 12]
(4, 8, 12)

In [49]:
# write a program to print the sum of the given numbers
#i/p --1 2 3 4 5 6 7 8 9 
#o/p -- 41
x=list(map(int,input().split(' ')))
print(x)

1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
sum=0
for i in x:
    sum=sum+i
print(sum)

45

In [51]:
#### reduce
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [54]:
reduce(lambda x,y:x+y, [1,2,3,4,5,6,7,8,9])

45

In [55]:
reduce(lambda x,y:x+y, list(map(int,input().split(' '))))

2 3 4 5 6 7 8 9 1

45

In [56]:
# write a program to find multiplication of given numbers
# i/p--2*2*2*3*2*1
# o/p--48
reduce(lambda x,y:x*y,list(map(int,input().split("*"))))

2*2*2*3*2*1

48

In [66]:
### print the prime the given input
# i/p-->2 3 4 5 6 7 8 9
# o/p--->[2,3,5,7]

def is_prime(n):
    factor_count=0
    for i in range(1,n+1):
        if n%i==0:
            factor_count=factor_count+1
    if factor_count==2:
        return True
    else:
        return False
is_prime(3)

True

In [68]:
x=list(map(int, input().split(' ')))
print(x)
print(list(filter(is_prime,x)))

2 3 4 5 6 7 8 9
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 5, 7]