In [1]:
# write a program in python to print the odd number from the 1 to 30
for i in range(1,30,2):
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

##### While loop

while condition:
    statement1
    statement2
    statement3
    ...
    statementn

In [4]:
#to a string python 10 times
i= int(input())
while i<=10:
    print("the value of i is", i)
    i+=1 # i=i+1

1
the value of i is 1
the value of i is 2
the value of i is 3
the value of i is 4
the value of i is 5
the value of i is 6
the value of i is 7
the value of i is 8
the value of i is 9
the value of i is 10

In [5]:
11<=10

False

##### Transfer statements
- break
- continue
- pass

In [8]:
# print the numbers between 1  to 50 exclude the numbers which are multiples of 3
for i in range(1,51):
    if i%3==0:
        continue
    else:
        print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [9]:
for i in range(1,51):
    if i%3==0:
        continue
    print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [10]:
# if it is multiple of 3 my program should terminate
for i in range(1,51):
    if i%3==0:
        break
    else:
        print(i, end=" ")

1 2

In [11]:
if True:
    pass

In [15]:
# write a program in python to exclude char 'a' and 'i' from the given string 
# and print the remaining char of the string 
#i/p--> python
#o/p--->p,y,t,h,o,n,
#i/p--viksha--->o/p-->v,k,s,h,
s=input()
for i in s:
    if i=='a'or i=='i':
        continue
    print(i, end=',')

python
p,y,t,h,o,n,

In [17]:
for j in range(10):
    s=input()
    for i in s:
        if i=='a'or i=='i':
            continue
        print(i, end=',')

adilakshmi
d,l,k,s,h,m,naveen
n,v,e,e,n,gopichand
g,o,p,c,h,n,d,abhishek
b,h,s,h,e,k,jaggu
j,g,g,u,sandhya
s,n,d,h,y,bharadwaj
b,h,r,d,w,j,viksha
v,k,s,h,python
p,y,t,h,o,n,rossum
r,o,s,s,u,m,

In [19]:
# to run a python file the command is python filename.py

In [ ]:
# to improve your coding skills try to solve the problems in platforms like hackerearth, hakcerrank.....